* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.el-header {
  height: auto;
}
.el-main {
  padding: 20px 30px 0;
}
.main-container {
  display: flex;
  height: auto;
  padding: 0;
  min-height: 100vh;
}
.aside {
  transition: all 400ms ease-in-out;
}
.el-submenu__title {
  padding: 0;
}
.el-menu.el-menu--horizontal {
  border-bottom: none;
}
