<template>
  <div>
    <div class="container-fluid">
      <h1>Панель управления</h1>
    </div>
    <div class="content">
      <div class="content-fluid">
        <p>Добро пожаловать!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "Main",
}
</script>

<style scoped>

</style>
